---
import { client } from "../../../lib/contentful"; 

const response = await client.getEntries({
  content_type: "homepageSlider"
});

// Extract data on the server
const data = response.items[0]?.fields;
const slideImages = (data?.slideImage as any[]) || [];
// console.log(slideImages);
---

<div class="swiper">
  <div class="swiper-wrapper">
    {slideImages.map((slide) => {
      const url = slide.fields?.file?.url;
      const altText = slide.fields?.title || "Slider Image";
      
      // Render only if the URL exists
      return url ? (
        <div class="swiper-slide">
          <img src={`https:${url}`} alt={altText} loading="lazy" />
        </div>
      ) : null;
    })}
  </div>
  
  <div class="swiper-pagination"></div>
</div>

<script>
  import '../../scripts/swiper.js'; 
</script>