.cs-numbered-step p{
    position: static;
}
.cs-numbered-steps .cs-numbered-step div {
    position: absolute;
    left: 0;
    padding: 0;
}
.cs-numbered-step{
    margin: 0;
    padding-bottom: 80px;
}
.cs-numbered-step .cs-numbered-step-num {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(#000, #fff);
    -webkit-background-clip: text;
}
section.cs-section.text-center.cont_us {
    background-color: #141924;
    padding: 80px 0;
}
section.cs-section.text-center.cont_us .container {
    max-width: 1105px;
}

section.cs-section.text-center.cont_us h4 {
    font-size: 24px;
    color: #aab3c0;
    padding-bottom: 24px;
}

section.cs-section.text-center.cont_us p {
    font-weight: 700;
    font-size: 24px;
    color: #aab3c0;
}
.cs-section p {
    font-weight: 400;
}


@media (max-width: 900px) {
    .cs-process-card{
        padding-left: 0;
        padding-right: 0;
    }
    .cs-process-card p{
        padding-bottom: 10px;
    }
    .cs-numbered-steps .cs-numbered-step div{
        position: static;
    }
    .cs-numbered-steps .cs-numbered-step div p{
        padding-bottom: 0;
    }
    .cs-numbered-step:last-child{
        padding-bottom: 0;
    }
    section.cs-section.text-center.cont_us h4,
    section.cs-section.text-center.cont_us p{
        font-size: 18px;
    }

}