.cs-dual-col img{
    max-height: 500px;
    object-fit: contain;
}
.cs-hero img{
    width: 100%;
    max-width: 1065px;
}

@media (max-width: 768px) {
    .pd-sec-feature p{
        font-size: 24px;
        padding: 70px 0;
    }
    .pd-sec-feature{
        min-height: 370px;
    }
    .cs-stats-4up-grid, .cs-icon-process-grid, .cs-data-table-row, .cs-circle-icon-grid, .cs-stats-multi-grid{
        grid-template-columns: 1fr 1fr;
    }
}