.cs-hero .cs-hero-subheading{
    font-size: 18px;
    max-width: unset;
}
.cs-process-card {
    padding-bottom: 50px;
    border-bottom: 1px solid #aab3c0;
}
.cs-section{
    padding-bottom: 0;
}
.cs-numbered-steps{
    padding-top: 0;
}

section.cs-numbered-steps .container{
    background-color: #141924;
    max-width: 1260px;
    padding-top: 70px;
}
.cs-numbered-step > div {
    padding-left: 100px;
    padding-right: 40px;
}
.cs-numbered-step > div h3{
    font-size: 30px;
}

.cs-numbered-steps p{
    position: static;
}
.cs-numbered-step .cs-numbered-step-num{
    font-size: 250px;
}
.cs-quote-lines{
    gap: 0;
}
.cs-quote-lines span{
    height: 8px;
}

.cs-quote-lines .cs-quote-line-red{
    background: #a23115;
}
.cs-quote-lines .cs-quote-line-green{
    background-color: #335421;
}
.cs-testimonial p{
    font-size: 24px;
    margin: 30px 0 0;
}
p.ps-link {
    padding: 53px 93px 56px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
    color: #e0e5ec;
}
.cs-process-card{
    border: none;
}


@media(max-width: 768px){
   .cs-numbered-step > div{
       padding-left: 35px;
       padding-right: 0;
    }
    .cs-numbered-step > div h3{
       font-size: 24px;
   }
   .cs-numbered-steps p{
    font-size: 15px;
   }
   .cs-numbered-steps{
    padding-bottom: 0;
   }
   .cs-numbered-step{
    margin-bottom: 0;
    padding-bottom: 65px;
   }
   .cs-testimonial p{
    color: #e0e5ec;
    font-size: 20px;
   }
   p.cs-quote-role{
    margin: 0;
    font-size: 14px;
   }
   .cs-numbered-steps > div > p{
    padding: 40px;
    font-weight: 700;
    line-height: 44px;
    font-size: 25px;
   }
}