@import "./variables.less";

.cfg-shopify-outer-wrapper {
  width: 100%;
  background-color: #171c28;
  color: #a0aec0;
  padding-top: 120px;
  padding-bottom: 40px;
  @media (max-width: 767px) {
    padding-top: 90px;
    padding-bottom: 0;
  }
}
.cfg-shopify-inner-container {
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.cfg-shopify-hero {
  padding-top: 0px;
  padding-bottom: 120px;
  @media (max-width:767px){
    padding-bottom: 35px;
  }
}
.cfg-hero-grid {  
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap:172px;
  @media (max-width:992px){
    gap: 20px;
    flex-direction: column;
  }
}
.cfg-hero-content {
  flex: 1;
  max-width: 580px;
}
.cfg-hero-title {
    font-size: 40px;
    font-weight: 700;
    color: #e0e5ec;
    margin: 0px;
    padding-bottom: 16px;
    @media (max-width:767px){
    font-size: 28px;
    padding-bottom: 10px;
    }
}
.cfg-hero-subtitle {
    font-size: 21px;
    color: #e0e5ec;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 14px;
    font-weight: 700;
}
.cfg-hero-desc {
  line-height:140%;
  p{
    margin-bottom: 15px;
    + p {
      margin-bottom: 40px;
      @media (max-width:768px){
      margin-bottom: 24px;
      }
    }
    
  }
  h2{
      font-size: 28px;
      font-weight: 700;
      padding-bottom: 14px;
      line-height: 140%;
      color:#fff;
      @media (max-width:768px){
      font-size: 24px;
      padding-bottom: 8px;
      }
    }
}
.ethical_Organizations {
    padding-top: 65px;
     h2 {
      color:#bfddfb;
      font-family: Lato;
      font-size: 72px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      padding-bottom: 24px;
      line-height: 140%;
      @media (max-width:992px){
        font-size: 60px;
      }
      @media (max-width:500px){
        font-size: 30px;
        padding-bottom: 18px;
      }
    }
    p{
      max-width: 760px;
    }
} 

.cfg-hero-media {
  flex: 1;
  display: flex;
}
/***Service Inner Pages****/
.service-innerpages{
    @media (min-width:993px){
      .cfg-hero-grid {
        gap: 80px;
      }
      .cfg-hero-title{
        font-size: 34px;
      }
    
  }
  .flex-hero {
    display: flex;
    gap: 10px;
    img{
      max-height: 90px;
    }
  }
  .cfg-shopify-hero{
    padding-bottom: 60px;
  }
}
/****Approach Section****/
.cfg-approach-section {
    padding-top: 60px;
    padding-bottom: 100px;
    border-top: 1px solid #292e3b;
}
.cfg-section-heading {
  font-size: 34px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #e0e5ec;
}
.cfg-approach-grid {
    display: flex;
    gap: 30px;
    padding-top: 50px;
}
.cfg-approach-card {
    flex: 1;
    background-color: #212633;
    padding: 50px 30px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    transform: scale(1);
}
.cfg-approach-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
.cfg-approach-icon {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.cfg-approach-icon img {
  max-height: 115px;
}
.cfg-approach-card h3 {
  font-size: 23px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 12px;
  color: #e0e5ec;
  text-transform: capitalize;
}
.cfg-approach-card p {
  font-size: 17px;
  margin: 0px;
}

/*****repeat blocks******/
.services-page .badge-row-container {
    margin-bottom: 5px;
    .tech-badge {
      font-size: 10px;
      padding: 4px 12px;
    }
}
.services-matrix-section .container-inner {
    display: flex;
    flex-direction: column;
    row-gap: 150px;
    padding-bottom: 80px;
    @media (max-width:767px){
      row-gap: 0px;
    padding-bottom: 50px;
    }
}
.cfg-service-row {
  display: flex;
  gap: 60px;
  @media (max-width:767px){
    flex-direction: column;
    gap: 32px;
    
    padding: 30px 15px;
    margin: 0 -15px;
    &:nth-child(odd){
      background-color: #ffffff0a;
    }
  }
  .cfg-service-img {
  flex: 1;
  img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    @media (max-width:767px){
      max-height: none;
    }
  }
  }
  &:nth-child(3){
    .cfg-service-img {
    img{
      max-height: none;
    }
    }
  }
}
.cfg-service-details {
  flex: 1;
  h2{
    color: #e0e5ec;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    padding-bottom: 18px;
    @media (max-width:767px){
      font-size: 24px;
      padding-bottom: 10px;
    }
  }
  p{
    line-height: 140%;
  }
  .description-data {
    padding-top: 24px;
    @media (max-width:767px){
      padding-top: 16px;
    }
    ul{
      li{
        font-size: 16px;
        font-style: normal;
        line-height: 180%;
        padding-left: 20px;
        position: relative;
        list-style: none;
        font-weight: 500;
        &:before{
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxIiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMTAgMSI+PHJlY3Qgd2lkdGg9IjEwIiBoZWlnaHQ9IjEiIGZpbGw9IiNCQ0JDQkMiLz48L3N2Zz4=);
          background-repeat: no-repeat;
          background-size: 10px;
          content: "";
          height: 1px;
          left: 0;
          position: absolute;
          top: 14px;
          // transform: translateY(-50%);
          width: 10px;
        }
        p{
            font-size: 16px;
            line-height: 180%;
            font-weight: 500;
            @media (max-width:767px){
              font-size: 15px;
            }
          }
          a{
            color: #bfddfb;
            text-decoration: none;
          }
          h2 {
              padding-top: 50px;
          }
      }
    }
  }
}
/***Service page only**/
.service-order  {
  .cfg-service-row{
    &:first-child {
      order: 1;
    } 
    &:nth-child(4) {
      order: 2;
    } 
    &:nth-child(3) {
      order: 4;
    } 
    &:nth-child(2) {
      order: 3;
    } 
    
  }
}
/***Service Inner Pages*****/
.cfg-services-title {
    color: #e0e5ec;
    text-align: center;
    font-size: 34px;
    margin-bottom: 50px;
}



 


