.cfg-thankyou-page {
  background-color: #171c28;
  color: #aab3c0;
  font-family: 'Lato', sans-serif;
  padding: 140px 20px 100px;
}

.cfg-thankyou-container {
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.cfg-thankyou-upper {
  margin-bottom: 0;
}

.cfg-thankyou-upper img.cfg-thankyou-icon {
  width: auto;
  height: auto;
}

.cfg-thankyou-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}

.cfg-thankyou-heading {
  font-size: 34px;
  font-weight: 700;
  color: #e0e5ec;
  margin: 40px 0 20px;
}

.cfg-thankyou-text {
  font-size: 20px;
  line-height: 1.6;
  max-width: 930px;
  margin: 0 auto 16px;
  color: #aab3c0;
}

.cfg-thankyou-bold {
  font-weight: 500;
  color: #aab3c0;
  margin: 68px auto 0;
  font-size: 20px;
}

.cfg-thankyou-blocks {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding-top: 40px;
  text-align: left;
}

.cfg-thankyou-block {
  flex: 1 1 31%;
  max-width: 31%;
}

.cfg-thankyou-block-img {
  width: 100%;
  height: auto;
}

.cfg-thankyou-block-heading {
  font-size: 24px;
  font-weight: 600;
  color: #e0e5ec;
  margin: 20px 0 5px;
}

.cfg-thankyou-block a {
  color: #e0e5ec;
  font-size: 18px;
  text-decoration: none;

  &:hover {
    color: #e0e5ec;
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .cfg-thankyou-page {
    padding: 100px 20px 60px;
  }

  .cfg-thankyou-heading {
    font-size: 24px;
  }

  .cfg-thankyou-text {
    font-size: 14px;
  }

  .cfg-thankyou-bold {
    font-size: 14px;
    margin-top: 30px;
  }

  .cfg-thankyou-blocks {
    flex-direction: column;
  }

  .cfg-thankyou-block {
    max-width: 100%;
  }

  .cfg-thankyou-block-img {
    border: 1px solid #2a3040;
  }

  .cfg-thankyou-block-heading {
    font-size: 20px;
  }
}
