---
// src/pages/index.astro
import HomepageHero from '../components/homepage/HomepageHero.astro';
import Testimonials from '../components/homepage/Testimonials.astro';
// Import our custom front page Less compilation
import Layout from '../layouts/Layout.astro';
import '../styles/homepage.less';
import blog1 from '../assets/blog1.png';
import Whoweare from '../components/homepage/Whoweare.astro';
import Homecasestudy from '../components/homepage/Homecasestudy.astro';
import Homepageblogs from '../components/homepage/Homepageblogs.astro';

---

<Layout title="CueForGood | eCommerce Agency for B Corps, Sustainable & Purpose Driven Brands">
  
  <HomepageHero/>
  <Whoweare/>
  <Homecasestudy/>
  <Testimonials />
  <Homepageblogs/>

  <!-- <section class="cfg-bottom-cta">
    <div class="cfg-cta-inner">
      <h2 class="cfg-cta-title">Let’s make a difference together.</h2>
      <p class="cfg-cta-desc">Ready to grow your mission-driven brand with a scalable digital ecosystem?</p>
      <a href="/contact" class="cfg-cta-button">Get in Touch</a>
    </div>
  </section> -->

</Layout>