---
// src/pages/team.astro
import Layout from "../layouts/Layout.astro";
import "../styles/team.less";

import bannerdesk from "../assets/Page.teams/teambanner.jpg";
import bannermob from "../assets/Page.teams/team_cfg_mob.png";

import bannerfooterdesk from "../assets/Page.teams/team_footer.png";
import bannerfootermob from "../assets/Page.teams/team_footer_mob.png";


// Import your team member images here
import pancham from "../assets/Page.teams/pancham.png";
import avneet from "../assets/Page.teams/Avneet.png";
import sarthak from "../assets/Page.teams/Sarthak.png";
import girish from "../assets/Page.teams/Girish.png";
import ketaky from "../assets/Page.teams/Ketaky.png";
import parth from "../assets/Page.teams/Parth.png";
import ravinder from "../assets/Page.teams/ravinder.png";
import gaurav from "../assets/Page.teams/Gaurav.png";
import rajiv from "../assets/Page.teams/Rajiv.png";
import vivek from "../assets/Page.teams/Vivek.png";
import deep from "../assets/Page.teams/Deep.png";
import TeampageTopbanners from "../components/teampage/TeampageTopbanners.astro";
import TeampageBottomBanner from "../components/teampage/TeampageBottomBanner.astro";
import TeamMembers from "../components/teampage/TeamMembers.astro";
// import Testimonials from "../components/homepage/Testimonials.astro";

---

<Layout
  title="CueForGood Team | The Specialists Helping Businesses Become a Force for Good"
>
  <section class="team-page-container">
    
    <TeampageTopbanners/>
    <section class="team-hero">
      <h1>You are in Good Company</h1>
      <p>
        Meet the CueForGood team that works on amplifying the success of our
        'for purpose' clients.
      </p>
    </section>

    <TeamMembers/>
    <TeampageBottomBanner/>

    <section class="join-team-banner">
      <div class="banner-content">
        <h2>Join our team</h2>
        <p>
          We’re always on the lookout for smart, purposeful, and driven people to be part of our growing team. Check out the careers page for open positions.
        </p>
        <a href="/career" class="cta-primary-link">Open Positions <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.66667 2V3.33333H1.33333V10.6667H8.66667V7.33333H10V11.3333C10 11.7015 9.70153 12 9.33333 12H0.666667C0.29848 12 0 11.7015 0 11.3333V2.66667C0 2.29848 0.29848 2 0.666667 2H4.66667ZM12 0V5.33333H10.6667L10.6666 2.27533L5.4714 7.4714L4.52859 6.5286L9.72327 1.33333H6.66667V0H12Z" fill="white"></path></svg></a>
      </div>
    </section>
    <!-- <Testimonials /> -->
  </section>
</Layout>
