---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thank You | CueForGood">
  <div class="cfg-thankyou-wrapper">
    <h1>Thank you for reaching out!</h1>
    <p>We've received your message and will get back to you shortly.</p>
    <a href="/">Back to Home</a>
  </div>
</Layout>

<style>
  .cfg-thankyou-wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 160px 20px 100px;
    text-align: center;
  }

  .cfg-thankyou-wrapper h1 {
    font-size: 34px;
    margin-bottom: 15px;
  }

  .cfg-thankyou-wrapper p {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .cfg-thankyou-wrapper a {
    color: inherit;
    text-decoration: underline;
  }
</style>
