---
// 1. Leave your frontmatter empty of swiper imports!
// Do NOT import swiper.js up here.
---

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
  
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<script>
  import '../scripts/swiper.js'; 
  // (Adjust the relative path above to point correctly to your swiper.js file)
</script>